body {
	padding: 0.5rem;
	line-height: 1.5;
	font-size: 1.3rem;
	color: #444;
	background: #EEEEEE;
	font-family: 'eurocine-narrowlight';
}

body > * {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:visited{
  color:blue;
}

ul {
	list-style: disclosure-closed;
}


@font-face {
    font-family: 'eurocine-narrowlight';
    src: url('eurocine-narrowlight-webfont.woff2') format('woff2'),
         url('eurocine-narrowlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}